/*
Code developed by Epi-interactive (www.epi-interactive.com)
CLIENT: The client
PROJECT: The project
DATE: 13-04-2021

Code users agree to appropriately acknowledge the code developer using the following citation: Code developed by Epi-interactive (www.epi-interactive.com) for The client for The project, 13-04-2021.
Restrictions regarding sharing and distributing the code of this project may apply, please contact Epi-interactive for clarification or consult our Services Agreement (if provided as part of the contract).
Restrictions may include:
  - the distribution of any source codes, header files, make files, or libraries of the software.
  - any merging, compiling, or copying of the software. 
  - alteration or removal of any notices in or on the software or within the documentation included within the software.
  - any distribution of the software that is not conducted with approval from Epi-interactive.
  - disclosure of any source codes pertaining to the software to third parties not included in this agreement.
*/

html, body {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

a[id*="export_image_download"] {
    float: right;
}

.watermark-date{
    color: #AEC6E9;
    display: inline-block;
}
.watermark img{
  height: 12px;
  padding-right: 5px;
  margin-top: 4px;
  display: inline-block;
  
}

#epidemix_logo_watermark {
    height: 22px;
}

.optgroup-header {
  display: none;
}

.img-download-chart-heading{
  font-size:20px;
  font-weight: bold;
}



